<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  
  
  
  
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tabel_client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Tabel_client.Tabel_client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WindowsFormsApplication1.Tabel_client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <Tabel_client.Properties.Settings>
            <setting name="family" serializeAs="String">
                <value />
            </setting>
            <setting name="TabelNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hStart" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="minStart" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hEnd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="minEnd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="specCheck" serializeAs="String">
                <value />
            </setting>
            <setting name="specAchiv" serializeAs="String">
                <value />
            </setting>
            <setting name="city" serializeAs="String">
                <value />
            </setting>
            <setting name="cbHolidays" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedLabel" serializeAs="String">
                <value />
            </setting>
            <setting name="dayX" serializeAs="String">
                <value />
            </setting>
            <setting name="cityIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="name" serializeAs="String">
                <value />
            </setting>
            <setting name="parentName" serializeAs="String">
                <value />
            </setting>
            <setting name="selectedTimeZone" serializeAs="String">
                <value />
            </setting>
            <setting name="dtStartFix" serializeAs="String">
                <value />
            </setting>
            <setting name="dtEndFix" serializeAs="String">
                <value />
            </setting>
        </Tabel_client.Properties.Settings>
        <Tabel_client.Tabel_client.Properties.Settings>
            <setting name="family" serializeAs="String">
                <value />
            </setting>
            <setting name="TabelNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hStart" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="minStart" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hEnd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="minEnd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="specCheck" serializeAs="String">
                <value />
            </setting>
            <setting name="specAchiv" serializeAs="String">
                <value />
            </setting>
            <setting name="city" serializeAs="String">
                <value />
            </setting>
            <setting name="cbHolidays" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedLabel" serializeAs="String">
                <value />
            </setting>
            <setting name="dayX" serializeAs="String">
                <value />
            </setting>
            <setting name="cityIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="name" serializeAs="String">
                <value />
            </setting>
            <setting name="parentName" serializeAs="String">
                <value />
            </setting>
            <setting name="BaseUtcOffset" serializeAs="String">
                <value>0</value>
            </setting>
        </Tabel_client.Tabel_client.Properties.Settings>
        <WindowsFormsApplication1.Tabel_client.Properties.Settings>
            <setting name="family" serializeAs="String">
                <value />
            </setting>
            <setting name="TabelNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hStart" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="minStart" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hEnd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="minEnd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="specCheck" serializeAs="String">
                <value />
            </setting>
            <setting name="specAchiv" serializeAs="String">
                <value />
            </setting>
            <setting name="city" serializeAs="String">
                <value />
            </setting>
            <setting name="cbHolidays" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectedLabel" serializeAs="String">
                <value />
            </setting>
            <setting name="dayX" serializeAs="String">
                <value />
            </setting>
            <setting name="cityIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="name" serializeAs="String">
                <value />
            </setting>
            <setting name="parentName" serializeAs="String">
                <value />
            </setting>
        </WindowsFormsApplication1.Tabel_client.Properties.Settings>
    </userSettings>
</configuration>
